/* Reset geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fc7232;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  z-index: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('img/backpizza.jpg');
  background-repeat: repeat;
  background-size: auto;
  opacity: 0.1;
  z-index: -1;
  pointer-events: none;
}

h1 {
  color: #FF9800;
  margin: 0px 0;
}

.bloco-cidade {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -120px;
  margin-bottom: 30px;
  padding: 20px;
  z-index: 1; 
}

.bloco-cidade h1 {
  color: #070707;
  margin-bottom: 25px;
  z-index: 1; 
}

.button-container {
  display: flex;
  gap: 30px;
}

.button {
  background-color: #FFF9C4;
  color: #000000;
  border: 2px solid #5a0000; /* borda amarela */
  padding: 18px 40px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(252, 201, 76, 0.4);
  position: relative;
  z-index: 1;
}

.button:hover {
  background-color: #fff176; /* amarelo mais forte */
  border-color: #f9a825; /* borda laranja */
  box-shadow: 0 6px 12px rgba(249, 168, 36, 0.7);
  color: #000000;
  transform: translateY(-3px);
}

.button:hover {
  background-color: #FFF59D;
}

.footer-pizza {
  position: fixed;       /* fixa na tela, independente do scroll */
  bottom: 10px;          /* distância do rodapé (ajuste como quiser) */
  left: 50%;             /* centraliza horizontalmente */
  transform: translateX(-50%);  /* centraliza de verdade */
  width: 400px;          /* largura controlável */
  height: auto;
  pointer-events: none;  /* não interfere em cliques */
  z-index: 0;         /* fica acima de quase tudo */
}

.footer-pizza img {
  width: 100%;
  height: auto;
  display: block;
}

.logo {
  width: 250px;
  margin-top: -250px;
  margin-bottom: 50px;
  display: block;
}
.mensagem-artistica {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 26px;
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 0.02em;
  z-index: 1; 
}

html, body {
  padding-top: env(safe-area-inset-top, 20px);
  padding-left: env(safe-area-inset-left, 0);
  padding-right: env(safe-area-inset-right, 0);
  padding-bottom: env(safe-area-inset-bottom, 0);
}



